html,
* {
  cursor: none;
}
body {
  overflow-x: hidden;
}
@media (max-width: 700px) {
  * {
    cursor: auto !important;
  }
}
:root {
  --cursor-one: 30px;
  --cursor-one-active: calc(var(--cursor-one) * 2);
  --cursor-one-clicked: calc(var(--cursor-one-active) * 1.5);
  --cursor-two: 3px;
  --cursor-two-disable: none;
  --cursor-strok: 2px;
  --opacity: 0.2;
}
.cursor-box {
  overflow: visible;

  /* to excute the cursor */
  pointer-events: none;
}

@media (max-width: 700px) {
  .cursor-box {
    display: none;
  }
}
.cursor-one {
  width: var(--cursor-one);
  height: var(--cursor-one);
  border: var(--cursor-strok) solid var(--font-two);
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  display: block;
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: 0.05s;
  -moz-transition: 0.05s;
  -ms-transition: 0.05s;
  -o-transition: 0.05s;
  transition: 0.05s;
  /*thisoverflowwillforceAOSlibrarytonothidethecursor*/
  overflow: visible !important;
  z-index: 10;
}
.cursor-one.active {
  background-color: var(--font-two);
  height: var(--cursor-one-active);
  width: var(--cursor-one-active);
  border: none;
  opacity: var(--opacity);
}
.cursor-one.clicked {
  background-color: rgba(0, 0, 0, 0.564);
  height: var(--cursor-one-clicked);
  width: var(--cursor-one-clicked);
  border: none;
}
.cursor-two {
  background-color: var(--font-two);
  width: var(--cursor-two);
  height: var(--cursor-two);
  display: block;
  z-index: 10;
  position: fixed;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  -webkit-transition: 0.09s;
  -moz-transition: 0.09s;
  -ms-transition: 0.09s;
  -o-transition: 0.09s;
  transition: 0.09s;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  border-radius: 50%;
  overflow: visible;
}
.cursor-two.disable {
  display: var(--cursor-two-disable);
}
