.nav {
  height: 100svh;
  z-index: 1;
  position: fixed;
  width: 0%;
}
.nav-active {
  width: 100%;
}
.nav .overlay {
  position: fixed;
  height: 10px;
  width: 10px;
  display: flex;
  background-color: var(--new-1);
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  top: -1rem;
  right: -1rem;
  transition: var(--tran-0) ease-in-out;
  -webkit-transition: var(--tran-0) ease-in-out;
  -moz-transition: var(--tran-0) ease-in-out;
  -ms-transition: var(--tran-0) ease-in-out;
  -o-transition: var(--tran-0) ease-in-out;
  transition-property: transform;
}
.nav .overlay-active {
  transform: scale(400);
  -webkit-transform: scale(400);
  -moz-transform: scale(400);
  -ms-transform: scale(400);
  -o-transform: scale(400);
  opacity: 1;
}

.nav .nav-icon {
  position: fixed;
  top: 2rem;
  right: 2rem;
  transition: var(--tran-3);
  -webkit-transition: var(--tran-3);
  -moz-transition: var(--tran-3);
  -ms-transition: var(--tran-3);
  -o-transition: var(--tran-3);
}
.nav-icon-active {
  color: white;
}
.nav .nav-icon svg {
  width: 4rem;
  height: 4rem;
  overflow: visible;
  position: relative;
}
.nav ul {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, 100vh);
  -webkit-transform: translate(-50%, 100vh);
  -moz-transform: translate(-50%, 100vh);
  -ms-transform: translate(-50%, 100vh);
  -o-transform: translate(-50%, 100vh);
  width: 100%;
  transition: 5000ms;
  -webkit-transition: 5000ms;
  -moz-transition: 5000ms;
  -ms-transition: 5000ms;
  -o-transition: 5000ms;
  transition-property: transform;
}
nav .ul-active {
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transition: 0ms;
  -webkit-transition: 0ms;
  -moz-transition: 0ms;
  -ms-transition: 0ms;
  -o-transition: 0ms;
}
.nav ul li {
  padding: 1rem 2rem;
  height: 100%;
  width: 100%;
  display: flex;
  transform: translateY(70rem);
  -webkit-transform: translateY(70rem);
  -moz-transform: translateY(70rem);
  -ms-transform: translateY(70rem);
  -o-transform: translateY(70rem);
  transition: var(--tran-1);
  -webkit-transition: var(--tran-1);
  -moz-transition: var(--tran-1);
  -ms-transition: var(--tran-1);
  -o-transition: var(--tran-1);
  transition-property: transform, opacity;
  opacity: 0;
}

.nav ul li.list-active:nth-child(1) {
  transition-delay: 100ms;
  opacity: 1;
}
.nav ul li.list-active:nth-child(2) {
  transition-delay: 200ms;
  opacity: 1;
}
.nav ul li.list-active:nth-child(3) {
  transition-delay: 300ms;
  opacity: 1;
}
.nav ul li.list-active:nth-child(4) {
  transition-delay: 400ms;
  opacity: 1;
}
.nav ul li.list-active:nth-child(5) {
  transition-delay: 500ms;
  opacity: 1;
}
.nav ul li.list-active {
  transform: translateY(0rem);
  -webkit-transform: translateY(0rem);
  -moz-transform: translateY(0rem);
  -ms-transform: translateY(0rem);
  -o-transform: translateY(0rem);
  opacity: 1;
  transition: var(--tran-2);
  -webkit-transition: var(--tran-2);
  -moz-transition: var(--tran-2);
  -ms-transition: var(--tran-2);
  -o-transition: var(--tran-2);
}

.nav ul li:nth-child(1) {
  transition-delay: 500ms;
  opacity: 0;
}
.nav ul li:nth-child(2) {
  transition-delay: 400ms;
  opacity: 0;
}
.nav ul li:nth-child(3) {
  transition-delay: 300ms;
  opacity: 0;
}
.nav ul li:nth-child(4) {
  transition-delay: 200ms;
  opacity: 0;
}
.nav ul li:nth-child(5) {
  transition-delay: 100ms;
  opacity: 0;
}

.nav ul li a {
  width: 100%;
  display: flex;
  font-size: clamp(4rem, 5vw, 40rem);
  transition: var(--tran-3) letter-spacing;
  -webkit-transition: var(--tran-3) letter-spacing;
  -moz-transition: var(--tran-3) letter-spacing;
  -ms-transition: var(--tran-3) letter-spacing;
  -o-transition: var(--tran-3) letter-spacing;
  /* text-align: center; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  color: var(--font-two);
  opacity: 0.6;
}
.nav ul li:hover a {
  letter-spacing: 2px;
  opacity: 1;
}
.nav ul .active {
  /* text-decoration: line-through black 3px; */
  transition: var(--tran-2);
  -webkit-transition: var(--tran-2);
  -moz-transition: var(--tran-2);
  -ms-transition: var(--tran-2);
  -o-transition: var(--tran-2);
  opacity: 1;
}
.prevent-scroll {
  overflow-y: hidden;
}