@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@font-face {
  src: url(../fonts/TTFirstNeue-Black/TTFirsNeue-Italic.woff2);
  font-family: big-font;
  font-weight: 400;
  font-style: italic;
}
@font-face {
  src: url(../fonts/TTFirstNeue-Black/TTFirsNeue-Medium.woff2);
  font-family: big-font;
  font-weight: 500;
  font-style: normal;
}
@font-face {
  src: url(../fonts/TTFirstNeue-Black/TTFirsNeue-MediumItalic.woff2);
  font-family: big-font;
  font-weight: 500;
  font-style: italic;
}
@font-face {
  src: url(../fonts/TTFirstNeue-Black/TTFirsNeue-DemiBold.woff2);
  font-family: big-font;
  font-weight: 600;
  font-style: normal;
}
@font-face {
  src: url(../fonts/TTFirstNeue-Black/TTFirsNeue-DemiBoldItalic.woff2);
  font-family: big-font;
  font-weight: 600;
  font-style: italic;
}
@font-face {
  src: url(../fonts/TTFirstNeue-Black/TTFirsNeue-Bold.woff2);
  font-family: big-font;
  font-weight: 700;
  font-style: normal;
}
@font-face {
  src: url(../fonts/TTFirstNeue-Black/TTFirsNeue-ExtraBold.woff2);
  font-family: big-font;
  font-weight: 800;
  font-style: normal;
}
@font-face {
  src: url(../fonts/TTFirstNeue-Black/TTFirsNeue-Black.woff2);
  font-family: big-font;
  font-weight: 900;
  font-style: normal;
}

/* new font */
@font-face {
  src: url(../fonts/Degular/Degular-Medium.ttf);
  font-family: newfont;
  font-weight: 600;
  font-style: normal;
}
@font-face {
  src: url(../fonts/Degular/Degular-Semibold.ttf);
  font-family: newfont;
  font-weight: 700;
  font-style: normal;
}
@font-face {
  src: url(../fonts/Degular/Degular_Display-Bold.ttf);
  font-family: newfont;
  font-weight: 800;
  font-style: normal;
}

/* Start Reset Page */

html {
  scroll-behavior: smooth;
  font-size: 10px;
  overflow-x: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  cursor: none;
}

::selection {
  background-color: var(--font-two);
  color: var(--font-one);
}

::-webkit-scrollbar {
  background-color: rgba(255, 255, 255, 0);
  inline-size: 1px;
  /* display: none; */
}
::-webkit-scrollbar-thumb {
  background-color: var(--m4);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: black;
}
h1,
h2,
h3,
h4,
h5,
h6,
button,
a,
.box-name-content,
span {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* End Reset Page */

/* :root {
  --hero-title-laptop: 25rem;
  --hero-title-phone: 4rem;
  --hero-text-laptop: 1.8rem;
  --hero-text-phone: 1.6rem;
  --section-title-laptop: 4.5rem;
  --section-title-phone: 2.8rem;
  --box-title-laptop: 2.5rem;
  --box-title-phone: 1.8rem;
  --box-text-laptop: 2rem;
  --box-text-phone: 1.4rem;
  --box-link-laptop: 1.6rem;
  --box-link-phone: 1.2rem;
  --section-padding: 6rem;
  --title-padding: 5rem;
  --large-radius: 1rem;
  --small-radius: 0.5rem;
  --tran-1: 1s;
  --tran-2: 0.5s;
  --tran-3: 0.25s;
  --tran-4: 0.15s;
  --new-1: rgb(255, 253, 249);
  --new-2: rgb(255, 79, 0);
  --new-3: rgb(255, 116, 52);
  --new-4: rgb(255, 170, 130);
  --new-5: #ffe7ce;
  --new-6: #fff3e6;
  --new-7: #cefff8;
  --new-grade: linear-gradient(
    180deg,
    var(--new-4) 0%,
    var(--new-4) 0%,
    #ffd3d3
  );
  --preloader-time: ;
} */

:root {
  --hero-title-laptop: 25rem;
  --hero-title-phone: 4rem;
  --hero-text-laptop: 1.8rem;
  --hero-text-phone: 1.6rem;
  --section-title-laptop: 4.5rem;
  --section-title-phone: 2.8rem;
  --box-title-laptop: 2.5rem;
  --box-title-phone: 1.8rem;
  --box-text-laptop: 2rem;
  --box-text-phone: 1.4rem;
  --box-link-laptop: 1.6rem;
  --box-link-phone: 1.2rem;
  --section-padding: 6rem;
  --title-padding: 5rem;
  --large-radius: 1rem;
  --small-radius: 0.5rem;
  --tran-0: 1.5s;
  --tran-1: 1s;
  --tran-2: 0.5s;
  --tran-3: 0.25s;
  --tran-4: 0.15s;
  /* new colors */
  --new-1: rgb(7, 18, 34);
  /* --new-1: rgb(0, 0, 0); */
  --new-2: rgb(255, 79, 0);
  /* --new-2: rgb(34, 34, 34); */
  --new-3: rgb(255, 116, 52);
  --new-4: rgb(255, 170, 130);
  --new-5: #ffe7ce;
  --new-6: #ffffff;
  --new-7: #cefff8;
  --new-grade: linear-gradient(
    180deg,
    var(--new-4) 0%,
    var(--new-4) 0%,
    #ffd3d3
  );
  --font-one: rgb(0, 0, 0);
  --font-two: rgb(255, 255, 255);
  --content: rgb(17, 28, 46);

  --preloader-time: ;
}
body,
* {
  font-family: big-font;
}
body {
  background-color: var(--new-1);
  /* background: linear-gradient(300deg, var(--new-1) 0,  var(--new-1) 50%,  var(--content)); */
  position: relative;
  transition: 0.75s !important;
  -webkit-transition: 0.75s !important;
  -moz-transition: 0.75s !important;
  -ms-transition: 0.75s !important;
  -o-transition: 0.75s !important;
  position: relative;
}

/* Fix AOS library mobile inline responsiveness */
body > div,
body > section,
body > main {
  overflow: hidden;
  position: relative;
}
.container {
  padding-inline: 2rem;
  margin-inline: auto;
}

@media (min-width: 768px) {
  .container {
    inline-size: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    inline-size: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    inline-size: 1170px;
  }
}

/* Start Components */
.font-black {
  color: var(--font-two);
}
.font-white {
  color: var(--font-one);
}
.bg-gradient {
  background-image: var(--new-grade);
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.051);
}
.box-color {
  /* background-color: var(--new-6); */
  position: relative;
  background-color: var(--content);
  /* border: 1px solid var(--font-two); */
}

a + svg,
button,
.up {
  /* cursor: pointer; */
}
.icon-tabler {
  color: var(--font-two);
  stroke-width: 1.5px;
}
.up {
  position: fixed;
  bottom: 1.6rem;
  right: 1.6rem;
  display: flex;
  -webkit-transition: var(--tran-2);
  -moz-transition: var(--tran-2);
  -ms-transition: var(--tran-2);
  -o-transition: var(--tran-2);
  transition: var(--tran-2);
  opacity: 0;
}
.up svg {
  inline-size: 30px;
  block-size: 30px;
  border: 2px solid;
  -webkit-border-radius: var(--large-radius);
  -moz-border-radius: var(--large-radius);
  -ms-border-radius: var(--large-radius);
  -o-border-radius: var(--large-radius);
  border-radius: var(--large-radius);
  -webkit-transition: var(--tran-4);
  -moz-transition: var(--tran-4);
  -ms-transition: var(--tran-4);
  -o-transition: var(--tran-4);
  transition: var(--tran-4);
}
.up:hover svg {
  background-color: var(--lter4);
}
.scroller {
  background-color: var(--new-2);
  /* background-image: linear-gradient(130deg, var(--m1) 0%, var(--m1) 50%, #46325c); */
  width: 0;
  height: 3px;
  position: fixed;
  top: 0%;
  left: 0;
  z-index: 10;
}
.section-title {
  padding-bottom: var(--title-padding);
}
.section-title h2:not(.github-title)::before {
  content: "";
  position: absolute;
  top: 50px;
  left: -100px;
  background-color: rgb(25, 72, 142);
  width: 300px;
  height: 300px;
  z-index: -1;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  filter: blur(50px);
  -webkit-filter: blur(50px);
  opacity: 0.3;
}
.light1 {
  position: absolute;
  top: 300px;
  right: 200px;
  background-color: rgba(29, 91, 184, 0.512);
  width: 400px;
  height: 400px;
  z-index: -1;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  filter: blur(100px);
  -webkit-filter: blur(100px);
  opacity: 0.3;
}

.light2 {
  position: absolute;
  top: 150vh;
  right: 100px;
  background-color: rgba(29, 91, 184, 0.679);
  width: 400px;
  height: 400px;
  z-index: -1;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  filter: blur(100px);
  -webkit-filter: blur(100px);
  opacity: 0.3;
}

.light3 {
  position: absolute;
  top: 250vh;
  right: -100px;
  background-color: rgba(29, 91, 184, 0.679);
  width: 600px;
  height: 600px;
  z-index: -1;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  filter: blur(100px);
  -webkit-filter: blur(100px);
  opacity: 0.3;
}

.light4 {
  position: absolute;
  bottom: 0vh;
  right: 100px;
  background-color: rgba(29, 91, 184, 0.679);
  width: 400px;
  height: 400px;
  z-index: -1;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  filter: blur(100px);
  -webkit-filter: blur(100px);
  opacity: 0.3;
}
.section-title h2 {
  font-size: clamp(
    var(--section-title-phone),
    4vw,
    var(--section-title-laptop)
  );
  position: relative;
}
.box-text-content p.box-name-content {
  font-size: clamp(var(--box-title-phone), 2vw, var(--box-title-laptop));
  font-weight: 600;
  position: relative;
}
.box-text-content p.box-info-content {
  font-size: clamp(var(--box-text-phone), 2vw, var(--box-text-laptop));
  line-height: 1.5;
  font-weight: 200;
}
.btn-box {
  background-color: var(--ltest4);
  -webkit-border-radius: var(--large-radius);
  -moz-border-radius: var(--large-radius);
  -ms-border-radius: var(--large-radius);
  -o-border-radius: var(--large-radius);
  border-radius: var(--large-radius);
  overflow: hidden;
}
.btn-box a {
  background-color: var(--ltest4);
  inline-size: 100%;
  block-size: 100%;
  padding: 0.8rem;
  font-size: clamp(var(--box-link-phone), 2vw, var(--box-link-laptop));
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-border-radius: var(--large-radius);
  -moz-border-radius: var(--large-radius);
  -ms-border-radius: var(--large-radius);
  -o-border-radius: var(--large-radius);
  border-radius: var(--large-radius);
  -webkit-transform: translatey(-4px);
  -moz-transform: translatey(-4px);
  -ms-transform: translatey(-4px);
  -o-transform: translatey(-4px);
  transform: translatey(-4px);
  -webkit-transition: var(--tran-4);
  -moz-transition: var(--tran-4);
  -ms-transition: var(--tran-4);
  -o-transition: var(--tran-4);
  transition: var(--tran-4);
}
@media (max-width: 767px) {
  .btn-box a {
    padding: 0.7rem;
  }
}
.btn-box a svg {
  inline-size: 2.5rem;
  block-size: 2.5rem;
}
@media (max-width: 767px) {
  .btn-box a svg {
    inline-size: 2rem;
    block-size: 2rem;
  }
}
.btn-box:hover a {
  -webkit-transform: translatey(0px);
  -moz-transform: translatey(0px);
  -ms-transform: translatey(0px);
  -o-transform: translatey(0px);
  transform: translatey(0px);
}
.btn-color {
  background-color: var(--new-2) !important;
  color: var(--font-two) !important;
  transition: var(--tran-4) !important;
  -webkit-transition: var(--tran-4) !important;
  -moz-transition: var(--tran-4) !important;
  -ms-transition: var(--tran-4) !important;
  -o-transition: var(--tran-4) !important;
}
.btn-color:hover {
  box-shadow: 0 5px 16px rgba(255 79 0 / 30%), 0 2px 6px rgba(255 79 0 / 15%);
  transform: translateY(1px);
  -webkit-transform: translateY(1px);
  -moz-transform: translateY(1px);
  -ms-transform: translateY(1px);
  -o-transform: translateY(1px);
}
.btn-color:active {
  transform: scale(1.02);
  -webkit-transform: scale(1.02);
  -moz-transform: scale(1.02);
  -ms-transform: scale(1.02);
  -o-transform: scale(1.02);
}
/* End Components */

/* Start Main Landing */

main {
  display: flex;
  justify-content: center;
  align-items: center;
  block-size: 100vh;
  position: relative;
}
@media (max-width: 767px) {
  main {
    height: 100svh;
  }
}

main > img {
  position: fixed;
  inline-size: 10rem;
  top: -100px;
  left: 20px;
  -webkit-transition: var(--tran-2) ease-in;
  -moz-transition: var(--tran-2) ease-in;
  -ms-transition: var(--tran-2) ease-in;
  -o-transition: var(--tran-2) ease-in;
  transition: var(--tran-2) ease-in;
  z-index: 1;
  /* filter: drop-shadow(0 0 2px rgb(218, 218, 218));
  -webkit-filter: drop-shadow(0 0 2px rgb(218, 218, 218)); */
}
main .container {
  margin-top: 10rem;
}
@media (max-width: 767px) {
  main .container {
    margin-top: 10rem;
  }
}

main .container .hero-box {
  max-inline-size: 100rem;
}
@media (max-width: 991px) {
  main .container .hero-box {
    /* flex-basis: 80%; */
    max-inline-size: 45rem;
  }
}
main .container .hero-box > span {
  font-size: clamp(
    var(--box-title-phone) + 0.3rem,
    2vw,
    var(--box-title-laptop) + 0.3rem
  );
  font-weight: 600;
  -webkit-border-radius: var(--small-radius);
  -moz-border-radius: var(--small-radius);
  -ms-border-radius: var(--small-radius);
  -o-border-radius: var(--small-radius);
  border-radius: var(--small-radius);
  position: relative;
}
main .container .hero-box h1 {
  color: var(--new-2);
  font-size: clamp(var(--hero-title-phone), 8vw, var(--hero-title-laptop));
  margin-top: 1rem;
  font-weight: 900;
  line-height: 1;
}
main .container .hero-box p {
  margin-top: 1rem;
  font-size: clamp(var(--hero-text-phone), 2vw, var(--hero-text-laptop));
  font-weight: 200;
  line-height: 1.5;
  max-inline-size: 80rem;
}
/* End Main Landing */
/* start services */
.hide {
  opacity: 0;
  transform: translateY(100px);
  -webkit-transform: translateY(100px);
  -moz-transform: translateY(100px);
  -ms-transform: translateY(100px);
  -o-transform: translateY(100px);
}
.show {
  transform: translatey(0);
  -webkit-transform: translatey(0);
  -moz-transform: translatey(0);
  -ms-transform: translatey(0);
  -o-transform: translatey(0);
  transition: 800ms;
  -webkit-transition: 800ms;
  -moz-transition: 800ms;
  -ms-transition: 800ms;
  -o-transition: 800ms;
  opacity: 1;
}
.services .container {
  position: relative;
  /* z-index: 1; */
}
.services .container .service-box {
  padding: 3rem;
  border-radius: calc(var(--large-radius) + 0rem);
  -webkit-border-radius: calc(var(--large-radius) + 0rem);
  -moz-border-radius: calc(var(--large-radius) + 0rem);
  -ms-border-radius: calc(var(--large-radius) + 0rem);
  -o-border-radius: calc(var(--large-radius) + 0rem);
  position: relative;
}
@media (max-width: 991px) {
  .services .container .service-box {
    flex-direction: column;
    padding: 2rem;
  }
}
.services .container .service {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: initial;
  -webkit-border-radius: var(--large-radius);
  -moz-border-radius: var(--large-radius);
  -ms-border-radius: var(--large-radius);
  -o-border-radius: var(--large-radius);
  border-radius: var(--large-radius);
  flex: 1;
}
.services .container .service .content {
  min-block-size: 20rem;
  display: flex;
  flex-direction: column;
  align-items: initial;
  justify-content: initial;
  -webkit-border-radius: var(--large-radius);
  -moz-border-radius: var(--large-radius);
  -ms-border-radius: var(--large-radius);
  -o-border-radius: var(--large-radius);
  border-radius: var(--large-radius);
  padding-bottom: 1rem;
}
@media (max-width: 991px) {
  .services .container .service .content {
    min-block-size: 19rem;
  }
}
@media (max-width: 768px) {
  .services .container .service .content {
    min-block-size: 19rem;
  }
}
@media (max-width: 430px) {
  .services .container .service .content {
    min-block-size: 22rem;
  }
}
@media (max-width: 324px) {
  .services .container .service .content {
    min-block-size: 30rem;
  }
}
.services .container .service .content p:first-of-type {
  margin-bottom: 1.5rem;
}
.services .container .service .content p:last-of-type {
  font-weight: 200;
}
.services .container .button-container {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.services .container button {
  min-inline-size: 10rem;
  padding: 0.8rem 0rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(var(--box-link-phone), 2vw, var(--box-link-laptop));
  border: none;
  -webkit-border-radius: var(--small-radius);
  -moz-border-radius: var(--small-radius);
  -ms-border-radius: var(--small-radius);
  -o-border-radius: var(--small-radius);
  border-radius: var(--small-radius);
  -webkit-transition: var(--tran-3);
  -moz-transition: var(--tran-3);
  -ms-transition: var(--tran-3);
  -o-transition: var(--tran-3);
  transition: var(--tran-3);
}
@media (max-width: 767px) {
  .services .container button {
    min-inline-size: 8.5rem;
  }
}

/* End services */

/* Start Work Space */

.work-space {
  padding-block: var(--section-padding);
}
.work-space .container .works .work {
  /* -webkit-border-radius: var(--large-radius);
  -moz-border-radius: var(--large-radius);
  -ms-border-radius: var(--large-radius);
  -o-border-radius: var(--large-radius);
  border-radius: var(--large-radius); */
  overflow: hidden;
  position: relative;
  /* cursor: pointer; */
}
.work-space .container .works .work img {
  inline-size: 100%;
  block-size: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  -webkit-transition: var(--tran-2);
  -moz-transition: var(--tran-2);
  -ms-transition: var(--tran-2);
  -o-transition: var(--tran-2);
  transition: var(--tran-2);
  /* filter: grayscale(1);
  -webkit-filter: grayscale(1); */
  /* border: 3px solid black; */
}
.work-space .container .works .work:hover img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
  /* filter: grayscale(0);
  -webkit-filter: grayscale(0); */
}

/* End Work Space */

/* Start Skills */
section {
  position: relative;
}
section .container .section-title .skills-progress {
  background-color: var(--content);
  color: var(--font-two);
  text-shadow: 0 0 10px rgba(0, 0, 0, 0.656);
  height: 8px;
  font-size: 10px;
  font-weight: 100;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  transition: var(--tran-1);
  -webkit-transition: var(--tran-1);
  -moz-transition: var(--tran-1);
  -ms-transition: var(--tran-1);
  -o-transition: var(--tran-1);
}

section .container .skills {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(270px, 1fr));
  gap: 2rem;
  position: relative;
  margin-left: 1.5rem;
}
@media (max-width: 767px) {
  section .container .skills {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 2rem;
  }
}
section .container .skills::before {
  /* content: ""; */
  position: absolute;
  top: 50%;
  left: -2.5rem;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: var(--new-4);
  inline-size: 0.1rem;
  block-size: calc(100% - 5.9rem);
  border: 1px solid var(--new-2);
}
@media (max-width: 767px) {
  section .container .skills::before {
    block-size: calc(100% - 4.8rem);
  }
}
section .container .skills .skill {
  padding: 1.2rem;
  -webkit-border-radius: var(--large-radius);
  -moz-border-radius: var(--large-radius);
  -ms-border-radius: var(--large-radius);
  -o-border-radius: var(--large-radius);
  border-radius: var(--large-radius);
  position: relative;
}
section .container .skills .skill::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -1.2rem;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  background-color: var(--new-2);
  inline-size: 0.7rem;
  block-size: 2rem;
  border: 1px solid var(--new-2);
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.not-started::before {
  background-color: transparent !important;
}
.still-working-on::before {
  animation: updown 1.9s infinite steps(100);
  -webkit-animation: updown 1.9s infinite steps(100);
}

@keyframes updown {
  50% {
    /* opacity: 0; */
    background-color: transparent;
  }
}

section .container .skills .skill .progress {
  display: none;
  justify-content: center;
  align-items: center;
}
section .container .skills .skill .progress svg {
  inline-size: 3rem;
  block-size: 3rem;
}
section .container .skills .skill .progressing {
  -webkit-animation: rotate 5s linear infinite;
  animation: rotate 5s linear infinite;
}
/* End Skills */

/* Start Contact */
.contact {
  position: relative;
}

/* End Contact */

/* Start Footer */

footer {
  padding-block: 1rem;
  position: relative;
}

footer p {
  color: var(--font-two);
  font-size: 1.1rem;
  /* font-weight: 200; */
  border: 1px solid rgba(255, 255, 255, 0.253);
  padding-inline: 1rem;
}
footer a {
  color: var(--new-2);
  font-size: 1.4rem;
}
footer a:first-letter {
  font-weight: 900;
}

/* End Footer */

/* Start Keyframes */
@keyframes rotate {
  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes nav {
  50% {
    background-color: var(--m3);
  }
}
@keyframes float {
  0% {
    transform: translatex(0rem);
    -webkit-transform: translatex(0rem);
    -moz-transform: translatex(0rem);
    -ms-transform: translatex(0rem);
    -o-transform: translatex(0rem);
  }
  20% {
    transform: translatex(10rem);
    -webkit-transform: translatex(10rem);
    -moz-transform: translatex(10rem);
    -ms-transform: translatex(10rem);
    -o-transform: translatex(10rem);
  }
  40% {
    transform: translatey(10rem);
    -webkit-transform: translatey(10rem);
    -moz-transform: translatey(10rem);
    -ms-transform: translatey(10rem);
    -o-transform: translatey(10rem);
  }
  60% {
    transform: translatey(-10rem);
    -webkit-transform: translatey(-10rem);
    -moz-transform: translatey(-10rem);
    -ms-transform: translatey(-10rem);
    -o-transform: translatey(-10rem);
  }
  80% {
    transform: translatex(-10rem);
    -webkit-transform: translatex(-10rem);
    -moz-transform: translatex(-10rem);
    -ms-transform: translatex(-10rem);
    -o-transform: translatex(-10rem);
  }
  100% {
    transform: translatex(0rem);
    -webkit-transform: translatex(0rem);
    -moz-transform: translatex(0rem);
    -ms-transform: translatex(0rem);
    -o-transform: translatex(0rem);
  }
}
/* End Keyframes */

/* ---- Start Framework */
/* --Start Spaces--------------- */
.pd-b-1 {
  padding-block: 1rem;
}
.pd-b-2 {
  padding-block: 2rem;
}
.pd-b-3 {
  padding-block: 3rem;
}
.pd-b-4 {
  padding-block: 4rem;
}
.pd-b-5 {
  padding-block: 5rem;
}
.pd-b-6 {
  padding-block: var(--section-padding);
}
.pd-btm-1 {
  padding-bottom: 1rem;
}
.pd-btm-2 {
  padding-bottom: 2rem;
}
.pd-btm-3 {
  padding-bottom: 3rem;
}
.pd-btm-4 {
  padding-bottom: 4rem;
}
.pd-btm-5 {
  padding-bottom: 5rem;
}
.pd-btm-6 {
  padding-bottom: var(--section-padding);
}
.pd-top-1 {
  padding-top: 1rem;
}
.pd-top-2 {
  padding-top: 2rem;
}
.pd-top-3 {
  padding-top: 3rem;
}
.pd-top-4 {
  padding-top: 4rem;
}
.pd-top-5 {
  padding-top: 5rem;
}
.pd-top-6 {
  padding-top: var(--section-padding);
}
.pd-left-1 {
  padding-left: 1rem;
}
.pd-left-2 {
  padding-left: 2rem;
}
.pd-left-3 {
  padding-left: 3rem;
}
.pd-left-4 {
  padding-left: 4rem;
}
.pd-left-5 {
  padding-left: 5rem;
}
.pd-left-6 {
  padding-left: var(--section-padding);
}
.pd-right-1 {
  padding-right: 1rem;
}
.pd-right-2 {
  padding-right: 2rem;
}
.pd-right-3 {
  padding-right: 3rem;
}
.pd-right-4 {
  padding-right: 4rem;
}
.pd-right-5 {
  padding-right: 5rem;
}
.pd-right-6 {
  padding-right: var(--section-padding);
}
.pd-1 {
  padding: 1rem;
}
.pd-2 {
  padding: 2rem;
}
.pd-3 {
  padding: 3rem;
}
.pd-4 {
  padding: 4rem;
}
.pd-5 {
  padding: 5rem;
}
.pd-6 {
  padding: var(--section-padding);
}
.gap-05-rem {
  gap: 0.5rem;
}
.gap-08-rem {
  gap: 0.8rem;
}
.gap-1-rem {
  gap: 1rem;
}
.gap-2-rem {
  gap: 2rem;
}
.gap-3-rem {
  gap: 3rem;
}
.m-l-r {
  margin-inline: auto;
}

/* --End Spaces--------------- */

/* --Start Structure--------------- */
.none {
  display: none;
}
.grid {
  display: grid;
}
.grid-t-c {
  grid-template-columns: repeat(auto-fill, minmax(33rem, 1fr));
}
@media (max-width: 767px) {
  .grid-t-c {
    grid-template-columns: repeat(auto-fill, minmax(22rem, 1fr));
  }
}
.flex {
  display: flex;
}
.flex-d-r {
  flex-direction: row;
}
.flex-d-c {
  flex-direction: column;
}
.j-c-i {
  justify-content: initial;
}
.j-c-bt {
  justify-content: space-between;
}
.j-c-c {
  justify-content: center;
}
.align-items-s {
  align-items: flex-start;
}
.align-items-e {
  align-items: flex-end;
}
.align-items-c {
  align-items: center;
}

/* --End Structure--------------- */

/* ---- End Framework */

/* --------------------------------------------------- */

.theme-switch-wrapper {
  display: flex;
  align-items: center;
  position: fixed;
  top: 1.6rem;
  right: 1.6rem;
  z-index: 2;
}
.theme-switch-wrapper em {
  margin-left: 10px;
  font-size: 1rem;
}
.theme-switch {
  display: inline-block;
  height: 20px;
  position: relative;
  width: 50px;
}
.theme-switch input {
  display: none;
}
.slider {
  border: 1px solid var(--m4);
  bottom: 0;
  /* cursor: pointer; */
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  transition: 0.4s;
  border-radius: var(--small-radius);
  -webkit-border-radius: var(--small-radius);
  -moz-border-radius: var(--small-radius);
  -ms-border-radius: var(--small-radius);
  -o-border-radius: var(--small-radius);
}
.slider:before {
  background-color: var(--m3);
  top: 50%;
  content: "";
  width: 30px;
  height: 15px;
  left: 3px;
  position: absolute;
  transition: 0.4s;
  border-radius: var(--small-radius);
  -webkit-transition: 0.4s;
  -moz-transition: 0.4s;
  -ms-transition: 0.4s;
  -o-transition: 0.4s;
  transform: translatey(-50%);
  -webkit-transform: translatey(-50%);
  -moz-transform: translatey(-50%);
  -ms-transform: translatey(-50%);
  -o-transform: translatey(-50%);
  -webkit-border-radius: var(--small-radius);
  -moz-border-radius: var(--small-radius);
  -ms-border-radius: var(--small-radius);
  -o-border-radius: var(--small-radius);
}
input:checked + .slider {
  border: 1px solid var(--m3);
}
input:checked + .slider:before {
  transform: translate(12px, -50%);
  -webkit-transform: translate(12px, -50%);
  -moz-transform: translate(12px, -50%);
  -ms-transform: translate(12px, -50%);
  -o-transform: translate(12px, -50%);
}
.feather-moon {
  opacity: 0;
  left: 9px;
  bottom: 9px;
  transform: translateX(4px);
}
.feather-sun {
  opacity: 1;
  right: 10px;
  bottom: 9px;
  transform: translateX(0px);
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
}
input:checked + .slider .feather-moon {
  opacity: 1;
  transform: translateX(0);
}
input:checked + .slider .feather-sun {
  opacity: 0;
  transform: translateX(-4px);
}

/* ====================[Github API]==================== */
.github-box .container .github {
  width: fit-content;
  padding: 10px;
  display: flex;
  gap: 2rem;
  margin: 0 auto;
  -moz-border-radius: var(--large-radius);
  -ms-border-radius: var(--large-radius);
  -o-border-radius: var(--large-radius);
  -webkit-border-radius: var(--large-radius);
  border-radius: var(--large-radius);
}

.github-box .container .section-title h2 {
  text-align: center !important;
}
.github .avatar {
  overflow: hidden;
  width: 10rem;
}
.github .avatar img {
  max-width: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.github .info {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 10px;
}
.github .username {
  font-weight: 600;
  font-size: clamp(var(--box-title-phone), 2vw, var(--box-title-laptop));
  padding: 5px 20px;
  justify-items: flex-end;
  border-radius: var(--small-radius);
  -webkit-border-radius: var(--small-radius);
  -moz-border-radius: var(--small-radius);
  -ms-border-radius: var(--small-radius);
  -o-border-radius: var(--small-radius);
  transition: var(--tran-3);
  -webkit-transition: var(--tran-3);
  -moz-transition: var(--tran-3);
  -ms-transition: var(--tran-3);
  -o-transition: var(--tran-3);
}
.github .repos {
  font-size: var(--hero-text-phone);
  font-weight: 100;
}

/* preloader */

.preloader {
  background-color: var(--new-2);
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 1;
  z-index: 2;
}
.preloader.inactive {
  transition: var(--preloader-time) cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -webkit-transition: var(--preloader-time)
    cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -moz-transition: var(--preloader-time) cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -ms-transition: var(--preloader-time) cubic-bezier(0.455, 0.03, 0.515, 0.955);
  -o-transition: var(--preloader-time) cubic-bezier(0.455, 0.03, 0.515, 0.955);
  width: 100%;
  height: 0;
}

/* popup DEVICE */
.popup-parent {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 100%;
  height: 100%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  z-index: 2;
  backdrop-filter: blur(5px);
}
.popup-box {
  background-color: var(--new-1);
  padding: 50px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  z-index: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: var(--large-radius);
  -webkit-border-radius: var(--large-radius);
  -moz-border-radius: var(--large-radius);
  -ms-border-radius: var(--large-radius);
  -o-border-radius: var(--large-radius);
  box-shadow: 0 6px 20px rgba(4, 11, 21, 0.3), 0 3px 10px rgba(4, 11, 21, 0.15);
  width: 400px;
  text-align: center;
}
@media (max-width: 767px) {
  .popup-box {
    padding: 3rem 2rem;
    width: 300px;
  }
}
@media (max-width: 350px) {
  .popup-box {
    padding: 3rem 2rem;
    width: 230px;
  }
}
.popup-box p {
  font-size: 16px;
  color: var(--font-two);
}
.x {
  position: absolute;
  top: 10px;
  left: 10px;
  padding: 3px;
  border-radius: var(--small-radius);
  -webkit-border-radius: var(--small-radius);
  -moz-border-radius: var(--small-radius);
  -ms-border-radius: var(--small-radius);
  -o-border-radius: var(--small-radius);

  display: flex;
  border: none;
}

.popup-box .x svg {
  width: 20px;
  height: 20px;
  color: var(--font-two);
}
/* .popup-box svg {
  color: var(--new-2);
} */
.popup-box .alert-icon svg {
  width: 40px;
  height: 40px;
}
/* a ~ .cursor {
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
} */

/* ==========[email]========== */

.email {
  /* height: 100vh; */
}
.email .contact-box {
  /* background-color: rgb(235, 235, 235); */
  width: 100%;
  padding: 2rem;
  display: flex;
  gap: 5rem;
  border-radius: var(--large-radius);
  -webkit-border-radius: var(--large-radius);
  -moz-border-radius: var(--large-radius);
  -ms-border-radius: var(--large-radius);
  -o-border-radius: var(--large-radius);
  /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.151); */
  border: 1px solid var(--font-two);
}
@media (max-width: 767px) {
  .email .contact-box {
    flex-direction: column;
  }
}

.email .email-box {
  /* flex: 80%; */
  /* max-width: 50rem; */
  width: 100%;
}
.email .email-box form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
}
.email .email-box form .name-email {
  display: flex;
  gap: 1rem;
  max-width: 100%;
}
@media (max-width: 767px) {
  .email .email-box .name-email {
    flex-direction: column;
  }
}

.email .email-box label {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;

  /* margin: 0; */
}

.email .email-box input:not([type="submit"]) {
  background-color: transparent;
  display: flex;
  justify-content: center;
  width: 100%;
  border: 1px solid var(--font-two);
  /* border-bottom: 1px solid black; */
  padding: 1rem;
  border-radius: var(--small-radius);
  -webkit-border-radius: var(--small-radius);
  -moz-border-radius: var(--small-radius);
  -ms-border-radius: var(--small-radius);
  -o-border-radius: var(--small-radius);
  color: var(--font-two);
}
.email .email-box textarea {
  background-color: transparent;
  border: 1px solid var(--font-two);
  resize: none;
  padding: 1rem;
  border-radius: var(--small-radius);
  -webkit-border-radius: var(--small-radius);
  -moz-border-radius: var(--small-radius);
  -ms-border-radius: var(--small-radius);
  -o-border-radius: var(--small-radius);
  color: var(--font-two);
}
.email .email-box form input:focus,
.email .email-box textarea:focus {
  border: none;
  outline: none;
  /* border-bottom: 1px solid var(--new-2); */
  background-color: transparent;
  border: 1px solid var(--new-2);
}
.email .email-box form input[type="submit"] {
  width: fit-content;
  display: flex;
  padding: 1rem 2rem;
  font-size: clamp(var(--box-link-phone), 2vw, var(--box-link-laptop));
  border: none;
  border-radius: var(--small-radius);
  -webkit-border-radius: var(--small-radius);
  -moz-border-radius: var(--small-radius);
  -ms-border-radius: var(--small-radius);
  -o-border-radius: var(--small-radius);
  margin-top: 1rem;
  transition: var(--tran-3);
  -webkit-transition: var(--tran-3);
  -moz-transition: var(--tran-3);
  -ms-transition: var(--tran-3);
  -o-transition: var(--tran-3);
  align-self: flex-end;
}
::placeholder {
  color: var(--font-two);
  font-size: 1.2rem;
  opacity: 0.4;
}

.info-box {
  width: 100%;
  display: flex;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 90%;
}
@media (max-width: 767px) {
  .info-box {
    padding-bottom: 2rem;
  }
}
.info-box .info {
  display: flex;
  flex-direction: column;
  /* align-items: flex-end; */
  /* gap: 4rem; */
  justify-content: space-between;
  backdrop-filter: blur(1px);
  /* padding: 1rem; */
  max-width: 400px;
}
.info-box .info .logo {
  width: 20rem;
}
.info-box .info .logo img {
  width: 20rem;
}
.info-box .info .email-location {
}
.info-box .info .email-location h3 {
  display: flex;
  align-items: flex-end;
  gap: 1rem;
  font-size: clamp(var(--box-title-laptop), 2vw, var(--box-title-laptop));
  margin-bottom: 1rem;
}
.info-box .info .email-location a {
  display: flex;
  align-items: flex-end;
  gap: 0.3rem;
  font-size: clamp(var(--box-link-phone), 2vw, var(--box-link-laptop));
  /* text-indent: 10px; */
  text-decoration: underline 2px;
}
.info-box .info .email-location a svg {
  inline-size: 20px;
  block-size: 20px;
}
.info-box .info .contact-icons {
  padding-block-start: 2rem;
  width: 100%;
  display: flex;
  gap: 1rem;
}
.info-box .info .contact-icons a {
  max-inline-size: 40px;
}
.info-box .info .contact-icons a svg {
  inline-size: 40px;
  block-size: 40px;
  -webkit-transition: var(--tran-3);
  -moz-transition: var(--tran-3);
  -ms-transition: var(--tran-3);
  -o-transition: var(--tran-3);
  transition: var(--tran-3);
  /* filter: drop-shadow(0 4px 5px rgba(255, 81, 0, 0.3));
  -webkit-filter: drop-shadow(0 4px 5px rgba(255, 81, 0, 0.3)); */
}
@media (max-width: 767px) {
  .info-box .info .contact-icons a svg {
    inline-size: 30px;
    block-size: 30px;
  }
}
.info-box .info .contact-icons a:hover svg {
  -webkit-transform: scale(1.1) translateY(-0.1rem);
  -moz-transform: scale(1.1) translateY(-0.1rem);
  -ms-transform: scale(1.1) translateY(-0.1rem);
  -o-transform: scale(1.1) translateY(-0.1rem);
  transform: scale(1.1) translateY(-0.1rem);
  color: var(--new-2);
}
.lang-btn {
  position: fixed;
  top: 2.2rem;
  right: 8rem;
  background-color: var(--new-2);
  color: var(--font-two);
  border: none;
  padding: 0.7rem;
  border-radius: 3px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  -o-border-radius: 3px;
  z-index: 10;
}
